extends layout

block content
  #card
    #header #{title}
    form#formAddUser(class="toggle-disabled", name="adduser",method="post",action="/adduser")
      table#addUserForm
        tr
          td(style="border:0px;") First Name:
          td(style="border:0px;")
            input#inputUserFirstName(type="text", placeholder="", name="firstname", style="width:100%",data-validation="length alphanumeric required",data-validation-length="2-30", data-validation-error-msg="Please enter a valid First name") 
        tr
          td(style="border:0px;") Last Name:
          td(style="border:0px;")
            input#inputUserLastName(type="text", placeholder="", name="lastname", style="width:100%",data-validation="length alphanumeric required",data-validation-length="2-30", data-validation-error-msg="Please enter a valid Last name")
        tr
          td(style="border:0px;") Username:
          td(style="border:0px;")
            input#inputUserName(type="text", placeholder="", name="username", style="width:100%",data-validation="length alphanumeric server required",data-validation-length="3-20",data-validation-allowing="_",data-validation-error-msg="Between 3-20 chars, only alphanumeric characters and underscores",data-validation-url="/validateusername")
        tr
          td(style="border:0px;") Email:
          td(style="border:0px;")
            input#inputUserEmail(type="text", placeholder="", name="useremail", style="width:100%",data-validation="email required")
        tr
          td(style="border:0px;") Password:
          td(style="border:0px;")
            input#inputUserPassword(type="password", placeholder="", name="userpassword_confirmation", style="width:100%",data-validation="strength length required",data-validation-strength="2",data-validation-length="min8")
        tr
          td(style="border:0px;") Confirm Password:
          td(style="border:0px;")
            input#inputUserPasswordConfirm(type="password", placeholder="", name="userpassword", style="width:100%",data-validation="confirmation required")
        tr
          td(colspan="2",style="border:0px;")
            input#btnSubmit(type="submit", value="Submit")
